*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#loading{
    width: 100%;
    height: 100vh;
    background: #fff
    url('https://64.media.tumblr.com/a9f765a99bbad5f86fcc76871eaf2596/ecb2f118882bb50d-24/s500x750/42e0f97a8e024fb8d2d8d9c33c40eb51abbf966d.gifv')
    no-repeat center ;
    z-index: 9999;
}
html,body{
    width: 100%;
    height: 100%;
}
#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}
#nav{
    
    width: 100%;
    padding: 20px 40px;
    color: white;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
#heading{
    margin-top: 90px;
}
#heading h1{
    margin-left: 30px;
    opacity: .8;
    line-height: 1;
    font-family:  cursive;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;

}
#heading #secondh1{
    margin-left: 175px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}
.blocktext h5{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}
#chhotiheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}
#chhotiheadings h5{
    margin-top: .5vw;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: right;
}
#herofooter{
    position: absolute;
    padding: 0 1vw;
    width: 100%;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
#herofooter #iconset{
    display: flex;
    gap: 10px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;

}
#second{
    color: white;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    height: auto;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw 3vw;
    padding-right: 0;
    width: 100%;
    border-top: 1px solid #888;
}
.elem h1{
    opacity: .7;
    text-transform: uppercase;
    font-size: 7.6vw;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
    display: flex;
    opacity: 0;
    height: 140%;
    z-index: 999;
    position: absolute;
}
#about{
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    padding: 10vw 10vw;
    padding-left: 25vw;
    width: 100%;
    background-color: black;
}
#textabout{
    width: 25rem;
}
#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.4;
    margin-bottom: 30px;
}
#about img{
    width: 200px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}
#subscribe{
    color: white;
    padding: 20px 30px;
    padding-bottom: 5vw;
    background-color: black;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 30px;
}
#footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
    